.container {
    margin-top: 100px;
  }
  .orange-background {
      
    background-color: #fceae8;
    border-radius: 10px;
}
.carousel-inner {
    padding: 30px 40px;
}
   .price {

    color: #FF136F;
}
.buy-now-buttom {
   background-color: #FF136F;
   color:#fff;
   border: none;
   border-radius:8px ;
   padding: 9px 25px;
   cursor: pointer;
}